!*.js
!*.d.ts
package.json

node_modules/
src/
tests/

tsconfig.json
tsconfig.build.json
package-lock.json
eslint.config.mjs
yarn.lock

*.ts
*.tsx
*.json
*.spec.ts
testconfig/
*.config.yaml
jest.config.js

.*
!.npmignore
